# ========== Node / Next.js ==========
node_modules/
.next/
npm-debug.log*
yarn-error.log*

# Next Auth session or env config
.env
.env.local
.env.*.local

# ========== Rails ==========
/backend/log/
/backend/tmp/
/backend/storage/
/backend/vendor/bundle
/.byebug_history

# Rails credentials
/backend/config/master.key
/backend/config/credentials/*.key

# ========== Docker ==========
docker-compose.override.yml

# Local Dev Notes
docs/開発メモ.md

# ========== System / OS ==========
.DS_Store
