version: "3.9"

services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql

  api:
    build: ./backend
    command: bundle exec rails s -b 0.0.0.0 -p 3000
    depends_on:
      - db
    environment:
      RAILS_ENV: development
      DB_HOST: db
      DB_USERNAME: root
      DB_PASSWORD: password
      # DB_NAME: careermap_poc_development
    ports:
          - "3101:3000"
    volumes:
      - ./backend:/app
    stdin_open: true
    tty: true

  web:
    build: ./frontend
    command: npm run dev -- --port 3000 --hostname 0.0.0.0
    depends_on:
      - api
    environment:
      NEXT_PUBLIC_GRAPHQL_ENDPOINT: http://localhost:3101/graphql
      NEXT_TELEMETRY_DISABLED: "1"
    ports:
      - "3100:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  db-data:
